em{
    font-weight: bold; font-style: normal; text-decoration: underline; font-style: red;
}

body {
    font-style: blue;
    background-color: lightcyan;
    text-align: center;
}

h1 {
    border: 5px blue solid;
    text-align: center;
}


